<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{0,390},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{70,390},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{140,390},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{0,520},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{70,520},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{140,520},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{0,650},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{140,0},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{0,130},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{70,130},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{140,130},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{0,260},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{70,260},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{70,130}</string>
                <key>textureRect</key>
                <string>{{140,260},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JumpAni.png</string>
            <key>size</key>
            <string>{210,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca0cec947e3a71ac16bd8ad0e4da3227:f6f10b6eb07419da7e9007fea5317089:07df20e5c30d7ebb15b06781537cd31f$</string>
            <key>textureFileName</key>
            <string>JumpAni.png</string>
        </dict>
    </dict>
</plist>
