<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,112}</string>
                <key>spriteSourceSize</key>
                <string>{66,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,113}</string>
                <key>spriteSourceSize</key>
                <string>{63,113}</string>
                <key>textureRect</key>
                <string>{{66,0},{63,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,113}</string>
                <key>spriteSourceSize</key>
                <string>{56,113}</string>
                <key>textureRect</key>
                <string>{{129,0},{56,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,113}</string>
                <key>spriteSourceSize</key>
                <string>{50,113}</string>
                <key>textureRect</key>
                <string>{{185,0},{50,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,114}</string>
                <key>spriteSourceSize</key>
                <string>{45,114}</string>
                <key>textureRect</key>
                <string>{{235,0},{45,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,113}</string>
                <key>spriteSourceSize</key>
                <string>{50,113}</string>
                <key>textureRect</key>
                <string>{{280,0},{50,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,113}</string>
                <key>spriteSourceSize</key>
                <string>{56,113}</string>
                <key>textureRect</key>
                <string>{{330,0},{56,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,113}</string>
                <key>spriteSourceSize</key>
                <string>{63,113}</string>
                <key>textureRect</key>
                <string>{{386,0},{63,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,112}</string>
                <key>spriteSourceSize</key>
                <string>{66,112}</string>
                <key>textureRect</key>
                <string>{{449,0},{66,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JumpAni.png</string>
            <key>size</key>
            <string>{515,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9374a61ca5f85b3e74524972122fa1a:5f76ab8be5a4c4be7b647442eb0c73c0:07df20e5c30d7ebb15b06781537cd31f$</string>
            <key>textureFileName</key>
            <string>JumpAni.png</string>
        </dict>
    </dict>
</plist>
